.example-container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

#mat-card-title {
  margin-top: -40%;
}