<div class="header-color-primary" fxLayout="col" style="height: 48px; padding-right: 10px;" fxLayoutAlign="center center">
  <div style="color: white; padding-left: 10px" fxFlex="100%">
    <mat-card-title style="color: white; margin: 0px !important;">Notificações</mat-card-title>
  </div>
  <div style="color: white;" matTooltip="Fechar">
    <mat-icon class="mouse-cursor-pointer"  style="float: right;" matSuffix  (click)="closeModal()">{{ 'close' }}</mat-icon>     
  </div>
</div>
<div class="mat-elevation-z8 container-shared-table" >
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="textName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let element"> {{ element.textName }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="onwerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Compartilhado por </th>
      <td mat-cell *matCellDef="let element"> {{ element.onwerName }} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de compartilhamento </th>
      <td mat-cell *matCellDef="let element"> {{ element.created | date:'dd-MM-yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon matTooltip="Visualizar texto compartilhado" class="mouse-cursor-pointer"  matSuffix [style.display]="isOnlyOneSelected(element) ?'none':'inherit'" (click)="redirectTo(element)" class="mouse-cursor-pointer">{{ 'visibility' }}</mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

