.example-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

.example-container > * {
    width: 100%;
}
.radio-group > *{
    margin-right: 10px;
}

.mat-subheader {
    padding: 0px !important;
    font-size: 16px;
}