/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    font-size: 14px;
}

.mouse-cursor-pointer {
    cursor: pointer !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.header-color {
    /*
    #276ace, #C5CAE9, #bfd2f7
    */
    background: linear-gradient(to bottom,  #bfd2f7 48px, white 48px) !important;
}

.header-color .mat-expansion-panel-header-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif !important;
    color: #3f51b5;
}

.header-color-primary {
    /*
    #276ace, #C5CAE9, #bfd2f7
    */
    background: linear-gradient(to bottom,  #3f51b5 48px, white 48px) !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2), 0 2px 0px 0 rgba(0,0,0,.14), 0 0px 7px 0 rgba(0,0,0,.12) !important
}

.header-color-primary .mat-card-title {
    color: white;
}

.mat-card-header-text {
    margin: 0px !important;
}

.mat-card-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif !important;
    color: #3f51b5;
    margin-top: -15px !important;
}

.custom-painel-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif !important;
    color: #3f51b5;
}

.custom-card-suggestion {
    background: linear-gradient(to bottom,  #bfd2f7 48px, #eff3f9 48px) !important;
}

.mat-dialog-container {
    padding: 0px !important;
}

thead {
    /* d6e2f9, e0e0f3 */
    background-color: #d6e2f9 !important;
}

th {
    font-size: 16px !important;
    color: #3f51b5 !important;
    min-width: 78px;
    padding: 2px;
}

.mat-checkbox-layout {
    background-color: white;
    border-radius: 2px;
}

.mat-sort-header-arrow {
    color: #3f51b5 
}

/*
tr.mat-header-row {
    height: 42px !important;
}*/

.mat-menu-panel {
    max-width: 500px !important;
}

.mat-menu-content {
    padding-bottom: 0px !important;
    background: linear-gradient(to top,  #3f51b5 36px, white 36px) !important;
}

.alert {
    font-size: 12px;
    margin-bottom: 5px;
}


.flip-glyphicon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}